<h1>Login</h1>

<div *ngIf="displayVerifyEmailError" class="email-verification-error">
  <mat-error *ngIf="!emailVerificationSent">Please verify your email.</mat-error>
  <button *ngIf="!emailVerificationSent" mat-button (click)="onVerificationLinkResend()">Resend Link</button>
  <span *ngIf="emailVerificationSent">Email Sent! Please also check spam folder if you do not see it in your inbox</span>
</div>

<form>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('userNotFound')">
      User does not exist
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="passwordFormControl">
    <mat-error *ngIf="passwordFormControl.hasError('wrongpassword')">
      Incorect password. Please try again
    </mat-error>
  </mat-form-field>
</form>


<div class="action-button-container">
  <button (click)="login(emailFormControl.value, passwordFormControl.value)">Sign In</button>
  <button (click)="onSignup()">Sign Up</button>
</div>