
<div class="question-container">
  <ng-container *ngIf="!selectedChoice; else answerSelected">
    <div [innerHtml]="data.question" class="question"></div>
    <div class="game-answers">
      <ng-container *ngFor="let choice of choices">
        <button class="game-choice-button" (click)="choiceClicked(data, choice)" [innerHtml]="choice">
          {{choice}}
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #answerSelected>
  <ng-container *ngIf="selectedChoice.selected_answer === selectedChoice.correct_answer; else incorrectAnswer">
    <div class="question text-correct">
      Correct
    </div>
  </ng-container>
  <div [innerHtml]="'Correct answer was ' + selectedChoice.correct_answer" class="correct-answer-text"></div>
  <button class="dialog-close" (click)="closeDialog()">Close</button>
</ng-template>

<ng-template #incorrectAnswer>
  <div class="question text-incorrect">
    Incorrect
  </div>
</ng-template>
