.challenge24-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 100px;
  color: #dfe5f1;
  text-shadow: 5px 5px #1055ef;
}

.challenge24-number {
  font-size: 50px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.challenge24-number-top {
  top: 50px;
  left: 190px;
  position: fixed;
}

.challenge24-number-left {
  top: 190px;
  left: 50px;
  position: fixed;
}

.challenge24-number-right {
  top: 190px;
  left: 330px;
  position: fixed;
}

.challenge24-number-bottom {
  top: 330px;
  left: 190px;
  position: fixed;
}