<div class="challenge24-container">
  <img src="/assets/images/challenge24_background.png">


  <div class="challenge24-number-top">{{questions[0]}}</div>
  <div class="challenge24-number-left">{{questions[1]}}</div>
  <div class="challenge24-number-right">{{questions[2]}}</div>
  <div class="challenge24-number-bottom">{{questions[3]}}</div>

  <div>
    <div *ngIf="showAnswer">{{answer}}</div>
    <button class="button-primary" style="margin-right: 40px;" (click)="onShowAnswerClicked()">Show Answer</button>
    <button class="button-primary" (click)="onNextClicked()">Next</button>
  </div>
</div>



