<h1>Sign Up</h1>
<form class="example-form" [formGroup]="registrationFormGroup" (ngSubmit)="signup()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="registrationFormGroup.get('email')?.hasError('email') && !registrationFormGroup.get('email')?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="registrationFormGroup.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registrationFormGroup.get('email')?.hasError('alreadyExists')">
      Email is already in use
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input type="email" matInput formControlName="displayName">
    <mat-error *ngIf="registrationFormGroup.get('displayName')?.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="registrationFormGroup.get('password')?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registrationFormGroup.get('password')?.hasError('weakPassword')">
      Password is too weak. Please enter a stronger password
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error *ngIf="registrationFormGroup.get('confirmPassword')?.hasError('required') && 
      !registrationFormGroup.get('confirmPassword')?.hasError('notmatched')">
      Please re-enter password
    </mat-error>
    <mat-error *ngIf="registrationFormGroup.get('confirmPassword')?.hasError('notmatched')">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <div class="action-button-container">
    <button type="submit">Sign Up</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
