mat-form-field {
  width: 100%;
}

h1 {
  text-shadow: 0 0 10px rgb(0 0 0 / 30%);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
}

.action-button-container {
  display: flex;
  justify-content: space-between;
}
