.game-board-container {
  display: grid;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .game-board-container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

.category-title {
  text-align: center;
}

.question {
  margin: 1rem;
  padding: 1rem;
}

.player-text {
  font-size: x-large;
  font-weight: bolder;
  margin: 5px;
}

.turn-player-text {
  color: green;
  border: 4px dotted;
}

.player-board {
  border: 1px solid;
  text-align: center;
}
