<div class="dashboard-container">
  <ng-container *ngIf="gameQuestions.length === 0; else gameBoard">
    <div class="dashboard-header">
      <img src="/assets/images/trivia-time-title.png" alt="Trivia Time title">
    </div>
    <div class="dashboard-contents">
      <button class="button-primary" (click)="createNewGame()">Create New Game</button>
    </div>
  </ng-container>
</div>

<ng-template #gameBoard>
  <app-game-board [questions]="gameQuestions" [numPlayers]="numPlayers"></app-game-board>
</ng-template>
