/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background: linear-gradient(to right, white 50%, black 50%);
}

button {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
}

button:hover, button:focus {
  opacity: 0.8;
}
